<section id="collection" class="collection active">
    <div class="innder-container">
        <span id="closeIcon" class="closeIcon"><i class="fa fa-times" aria-hidden="true"></i></span>
        <h2>Collection</h2>
        <span style="font-size: 2rem;">Comming soon...</span>
    </div>
</section>