        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.2/gsap.min.js"></script>
        <script src="/script.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/socket.js"></script>
    </body>
</html>