<div class="icon-bar">
    <img id="goBack" class="backIcon <% if(iconValue === "menuIcons") { %>hide<% } %>" src="/img/turn-back-left-sign-svgrepo-com.svg">
    <img id="bagIcon" class="bagIcon" src="/img/school-bag-svgrepo-com.svg">
</div>