<%- include('./partials/head') %>

<%- include('./partials/iconBar') %>

<%- include('./partials/collection') %>

<h1>Find game</h1>

<section class="medium-menu">
    <form id="lobby-entry-form">
      <h2>Username</h2>
      <input type="text" id="player-name" autocomplete="off" spellcheck="false" maxlength="16" required>
      <h2>Game code</h2>
      <input type="text" id="lobby-code" autocomplete="off" spellcheck="false" maxlength="6" required>

      <button type="submit">Find Lobby</button>
    </form>
</section>

<%- include('./partials/foot') %>