<%- include('./partials/head') %>

<%- include('./partials/iconBar') %>

<%- include('./partials/collection') %>

<h1>The art curator is preparing a prompt</h1>

<section class="medium-menu">
  
</section>

<%- include('./partials/foot') %>

<script>
  
</script>