<%- include('./partials/head') %>

<%- include('./partials/iconBar') %>

<%- include('./partials/collection') %>

<h1>Art Auction <span>Masterpieces Unveiled</span></h1>

<nav>
    <ul>
        <li><a href="createGame">Create game</a></li>
        <li><a href="findGame">Find game</a></li>
        <li>Options</li>
        <li>Quit</li>
    </ul>
</nav>

<img class="background-drawing-1" src="/img/board-drawing-1.png">
<img class="background-drawing-2" src="/img/board-drawing-2.png">

<%- include('./partials/foot') %>