@font-face {
    font-family: 'MessySmilingCactus';
    src: url('/fonts/MessySmilingCactus-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Drawingfree';
    src: url('/fonts/Drawingfree.ttf') format('truetype');
}

:root {
    --c-primairy: #DF5B57;
    --c-secondary: #2ca9bc;
    --c-tertiary: #baced2;
    --c-fourthary: #fff;

    --c-offBlack: #090a0e;

    --drawnFont: 'MessySmilingCactus', Arial, sans-serif;
    --numberFont: 'Drawingfree', Arial, sans-serif;
    font-size: 16px;
}

.custom-cursor {
    cursor: url('/img/brush_cursor.svg'), auto;
}

html {
    position: relative;
    height: 100vh;
    width: 100vw;
}

body {
    font-family: var(--drawnFont);
    color: var(--c-offBlack);
}

.pencil-bar {
    position: absolute;
    bottom: 0;
    margin-left: 80%;
    margin-bottom: 5%;
    padding: 1rem;
    transition: .2s;
    width: 100%;
}

.pencil-bar img {
    width: 10rem;
}

.icon-bar {
    position: absolute;
    top: 0;
    padding: 1rem;
    transition: .2s;
    box-sizing: border-box;
}

.icon-bar img {
    height: 4rem;
    margin-right: 1rem;
}

.icon-bar img:hover {
    transform: rotate(5deg);
}

.moneyIcon {
    float: right;
    padding-right: 2rem;
}

.bagIcon:after {
    content: Your collection;
}

h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 5rem;
    margin-top: 6rem;
}

h2 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 2.5rem;
}

h3 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem;
}

h1 span {
    margin-left: 3rem;
}

nav {
    width: 30%;
    margin-left: 35%;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 5rem;
}

nav li {
    font-size: 4.5rem;
    transition: .2s;
}

nav li:hover {
    transform: rotate(5deg);
}

a {
    text-decoration: none;
    color: var(--c-offBlack);
    cursor: url('/img/brush_cursor.svg'), auto;
}

.medium-menu {
    position: relative;
    margin-top: 2rem;
    padding: 1rem;
    width: 30%;
    margin-left: 35%;
    box-shadow: 0px 0px 10px 0px #b4b3b3;
    border: 3px solid var(--c-secondary);
}

.draw-time-value {
    padding: .5rem .6rem .5rem .5rem;
    background-color: var(--c-primairy);
    color: var(--c-fourthary);
}

.player-invite-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 2rem;
    max-height: 30vh;
    overflow-y: scroll;
}

.player-invite-list::-webkit-scrollbar{
    display: none;
}

.player-invite-list::-webkit-scrollbar {
    width: 0 !important
}

.player-invite-list {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.player-invite-list li {
    font-size: 2rem;
    transition: .2s;
    background-color: var(--c-tertiary);
    padding: .5rem;
    margin-bottom: .5rem;
}

.player-invite-list li:first-child {
    margin-top: .5rem;
  }

.invite-player {
    background-color: #dce8ea !important;
}

.player-invite-list li:hover {
    box-shadow: inset 0px 0px 0px 3px var(--c-secondary);
    opacity: .8;
}

.player-list-icon {
    color: var(--c-fourthary);
    margin-right: .3rem;
    font-size: 1.5rem;
}

.player-list-icon:hover {
    color: var(--c-primairy);
}

.float-right {
    float: right;
}

.add-player-icon {
    color: var(--c-fourthary);
    float: right;
    margin-right: .3rem;
}

.add-player-icon:hover {
    color: var(--c-secondary);
}

.selector-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.selector-item {
    background-color: #2ca9bc;
    padding: 1rem;
    border-radius: 50%;
    height: 2rem;
    aspect-ratio: 1/1;
}

.time-value {
    width: 100%;
}

.no-players {
    background-color: transparent !important;
}

.no-players:hover {
    pointer-events: none;
}

.no-players:focus {
    pointer-events: none;
}

.invite-more-players-message {
    font-size: 1.5rem;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 1rem;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: var(--c-secondary);
    cursor: url('/img/brush_cursor.svg'), auto;
}
  
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: var(--c-secondary);
    cursor: url('/img/brush_cursor.svg'), auto;
}

.game-code {
    position: absolute;
    background-color: var(--c-primairy);
    color: var(--c-fourthary);
    padding: .5rem;
    right: 0;
    margin-right: 1rem;
}

.player-count {
    position: absolute;
    padding: .5rem 0rem;
    left: 0;
    margin-left: 1rem;
}

input {
    text-align: center;
    border: none;
    background-color: #dce8ea;
    width: 100%;
    padding: .5rem;
    font-size: 1.2rem;
    transition: .2s;
    box-sizing: border-box;
    margin-bottom: 1rem;
    cursor: url('/img/brush_cursor.svg'), auto;
}

input:focus {
    box-shadow: inset 0px 0px 0px 3px var(--c-secondary);
    opacity: .8;
    outline: none;
}

input:hover {
    box-shadow: inset 0px 0px 0px 3px var(--c-secondary);
    opacity: .8;
}

input {
    position: relative;
}
  
.wiggle {
    animation-name: wiggle;
    animation-duration: .2s;
    animation-iteration-count: 1;
  
}
  
@keyframes wiggle {
    0% {
      transform: rotate(1deg)
    }
    50% {
      transform: rotate(-1deg);
    }
    100% {
      transform: rotate(1deg);
    }
}

button {
    width: 100%;
    border: none;
    background-color: var(--c-secondary);
    font-family: var(--drawnFont);
    font-size: 2.5rem;
    padding: .5rem;
    margin-top: 2rem;
    cursor: url('/img/brush_cursor.svg'), auto;
}

button:hover {
    opacity: .8;
}

.collection {
    width: 50%;
    height: 70vh;
    padding: 1rem;
    z-index: 1;
    background-color: var(--c-fourthary);
    border: 3px solid var(--c-secondary);
    margin-left: 25%;
    position: absolute;
    box-shadow: 0px 0px 10px 0px #b4b3b3;
}

.inner-container {
    position: relative;
}

.closeIcon {
    position: absolute;
    top: 0;
    right: 0;
    padding: .8rem 1rem;
    font-size: 1.5rem;
    color: #dce8ea;
}

.closeIcon:hover {
    color: var(--c-primairy);
}

.active {
    display: none;
}

.hide {
    display: none;
}

.not-found-error {
    font-size: 1.5rem;
    color: var(--c-primairy);
    text-align: center;
    display: none;
}

.error-pop-up {
    display: block;
}

.tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    color: var(--c-fourthary);
    font-size: 12px;
    background-color: var(--c-primairy);
    padding: .5rem;
    font-family: Arial, sans-serif;
  }
  
.hover-text:hover .tooltip-text {
    visibility: visible;
}
  
.top {
    top: -40px;
    left: -50%;
}

.not-enough-players {
    background-color: #dbdbdb;
}

.not-enough-players:hover {
    opacity: 1;
    pointer-events: none;
}

.background-drawing-1 {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10rem;
    width: 14rem;
    transform: rotate(20deg);
}

.background-drawing-2 {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 15rem 10rem;
    width: 16rem;
    transform: rotate(-15deg);
}